<section class="about-section section {% if page.about_height %} {{ page.about_height }} {% else %} is-medium {% endif %} is-bold" {% if page.about_back_img %} style="background: linear-gradient(rgba(34, 31, 31, 0.9), rgba(12, 0, 0, 0.9)), url('{{ page.about_back_img }}') no-repeat center center; background-size: cover; background-attachment: fixed;" {% else %} style="background-color: rgb(41, 39, 39);"  {% endif %} >
  <div class="container has-text-centered">
    <div class="columns is-mobile is-multiline is-centered">
      <figure class="image is-128x128 column is-narrow">
        <img class="is-rounded" src="{{ page.about_image }}">
      </figure>
    </div>
    <hr>
    <p>{{ page.about_content }}</p>
  </div>
</section>
